<h3><%= I18n.t('spree.loyalty_points') %></h3>
<p><%= I18n.t('spree.current_balance') %>: <%= spree_current_user.energy_coins %></p>

<%= render partial: 'spree/loyalty_points/transaction_table' %>
<br />
